/* Write your CSS code in this file */

@font-face {
  font-family: 'educational';
  src: url("resources/fonts/Education\ Childsmart.ttf");
}
@font-face {
  font-family: 'lemon-milk';
  src: url("resources/fonts/LEMONMILK-Regular.otf");
}
body{
  margin: 0;
}
main{
  display:flex;
  height:100%;
  justify-content: center;
  align-items: stretch;
}

header{
  position: fixed;
  font-family: 'lemon-milk';
  font-size: 8vh;
  text-align: center;
  align-items: center;
  top:0px;
  left: 0px;
  right: 0px;
  height: auto;
  align-content: center;
  color:white;
  background-color: rgb(255, 105, 180);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;  text-shadow: 2px 2px 2px 1px (0, 0, 0, 0.2);}

#header-title{
  display:flex;
  justify-content: center;
  padding-top:10px;
  padding-bottom:10px;
  text-align: center;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}
footer{
  position: fixed;
  bottom:0px;
  left: 0px;
  right: 0px;
  height: 6%;
  text-align: right;
  background-color: hotpink;
  font-size: 20px;
  font-family: "lemon-milk";
  padding-right: 10px;
  text-decoration: none;
  color:white;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

#creator-name{
  text-align:left;
}

#guessing-blocks {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  min-height: 100px;
  margin-bottom: 10px;
}

.block {
  height: 120px;
  width: 120px;
  border: hotpink solid 5px;
  background-color: rgb(240, 241, 241);
  border-radius: 49% 51% 47% 53% / 24% 24% 76% 76%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 120px;
}

sidebar {
  font-family: 'lemon-milk';
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  max-width: 300px;
  justify-content: center;
  padding: 20px;
  font-size: 12px;
  background-color: rgb(159, 208, 251);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
#rules > p{
  background-color: hotpink;
  height: auto;
  text-align: center;
  padding: 12px;
  color: black;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  border-radius: 25px;
  margin-bottom: 20px;
}

#rules-title{
  display: flex;
  justify-content: center; text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

#game-display-container {
  background-image: url("resources/images/question-background.jpg");
  background-size: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 3%;
  font-size: 50px;
  color:rgb(34, 45, 93);
  min-width: 0px;
  width: 100%;
  font-family: 'lemon-milk';
  overflow:scroll;
}
#guess-container{
  display:flex;
  flex-direction: column;
  background-color: rgb(22 30 87);
  align-items: center;
  height: auto;
  padding: 12px;
  color: rgb(252, 252, 252);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  text-align: center;
  border-radius: 25px;
  margin-top: 20px;

}

sidebar > h1{
  font-size: auto;
  justify-items: center;
  align-items: center;
}

button{
  display:flex;
  flex-direction: column;
  font-family: "lemon-milk";
  padding: 5px;
  background-color: transparent;
  color:white;
  border:none;
}

#crystal-ball{
  height:60px;
  margin-top:20px;
  cursor: pointer;
  margin-bottom: 20px;
}
#guess-input {
  text-align: center;
  font-size: 45px;
  font-family: 'lemon-milk';
  height: 90px;
  width: 90px;
  color:rgb(34, 45, 93);
  border: hotpink solid 5px;
  background-color: rgb(240, 241, 241);
  border-radius: 49% 51% 47% 53% / 24% 24% 76% 76%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

#hint-text{
  background-color: white;
  padding:20px;
  margin: 20px;
  font-family: 'lemon-milk';
  border-radius:25px;
  margin-bottom: 60px;
  color:rgb(34, 45, 93);
  border: 5px solid rgb(159, 208, 251);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
#game-options{
  display:flex;
  flex-direction: row;
  color: rgb(22 30 87);
  justify-content:center;
  
}
.game-option-button {
  margin:20px;
  margin-top: 100px;
  height: 80px;
  width: 350px;
  color: rgb(34, 45, 93);
  background-color: aliceblue;
  border-radius: 25px;
  border: 5px solid rgb(159, 208, 251);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-size: 30px;
}

#restart{
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
  padding:20px;
  cursor:pointer;
}

#hint{
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
  padding:20px;
  cursor:help;
}
img{
  height: 50px;
}

#hint-message{
  font-family: 'lemon-milk';
  font-size: 40px;
  justify-content: center;
  color:hotpink;
  margin-bottom: 50px;
  height: 30px;
  text-shadow: 5px 5px 0px rgb(34, 45, 93);
}

#hint-container{
  margin-top: 100px;
  height: 30px;
}



@media (hover:hover){
  *{
    cursor:default;
  }
  #hint:hover{
    background-color: hotpink;
    cursor: help;
    font-size: large;
    border:5px solid aliceblue;
  }
  #restart:hover{
    background-color: hotpink;
    cursor: pointer;
    font-size: large;
    border:5px solid aliceblue;
  }
  #rules > p:hover{
    background-color: aliceblue;
    cursor:default;
    border: 5px solid rgb(34, 45, 93)
  }
  #crystal-ball:hover{
    filter: drop-shadow(5px 5px 10px gray);
  };
}
